@charset "utf-8";
*{ margin:0; padding:0; list-style:none;}
body{ font-size:12px; text-align:left;}
img{ border:none;}
a{ text-decoration:none;}
.none { display:none;}

#container{
	margin-left: 40px;
	margin-top: 20px;
	float: left;
}
.menu{
	float: left;
	border:1px solid #eaeaea;  
	zoom:1; 
	width:221px;
	margin-bottom: 20px;
}
.menu h3 { 
	font-family: "Microsoft YaHei",微软雅黑; 
	font-size:16px;
	background:#f7f7f7; 
	height:43px; 
	line-height:43px; 
	padding-left:12px; 
}
.menu ul li { 
	display:inline; 
}
.menu ul li a { 
	background:url(../images/bg1.png) no-repeat 200px 18px; 
	padding-left:30px; text-decoration:none; 
	font-size:14px; 
	color:#555; 
	display:block;  
	height:43px;  
	line-height:43px; 
	border-bottom:1px dotted #d2d2d2; 
}
.menu ul li a.noline { 
	border-bottom:none; 
}
.menu ul li a:hover{ 
	color:#8caf00; 
}
.menu ul li a.selected:hover { 
	color:#fff; 
}
.menu ul li .selected { 
	background-color:#8caf00;  
	background-position:200px -9px; 
	color:#fff; 
}
.menu ul li { 
	border-bottom:1px dotted #d2d2d2; 
	display:inline-block; 
	width:100%; 
	position: relative; 
	min-height:43px; 
	_height:43px; 
	z-index: 10; 
	zoom:1 
}
.menu ul li h4 { 
	cursor:pointer; 
	background:url(../images/bg3.png) no-repeat 200px 18px; 
	padding-left:30px; 
	text-decoration:none; 
	font-size:14px; 
	color:#555; 
	display:block;  
	line-height:43px; 
	font-weight:normal; 
}
.menu ul li.noline { 
	border-bottom:none; 
}
.menu ul li h4:hover { 
	color:#8caf00; 
	text-decoration:underline; 
}
.menu ul li.selected h4 { 
	background-position:200px -37px; 
	border-bottom:1px dotted #d2d2d2; 
}
.menu ul li a { }
.menu ul li .on a { 
	color:#8caf00; 
	font-weight:bold; 
}
.menu ul li a:hover { 
	color:#8caf00; 
	text-decoration:underline; 
}
.bg-color { 
	background-color:#8caf00; 
}
.menu li .list-item { 
	padding:5px 0; 
	position:relative; 
	zoom:1 
}
.menu li .list-item p { 
	padding-left:8px; 
	background:url(../images/ico_li.png) no-repeat 60px center; 
}
.menu li .list-item a { 
	background:none;  
	border:none; 
	color: #333333; 
	display:block; 
	text-align:left;
	float:left; 
	font-size:12px; 
	width:60px; 
	padding-left:10px;
	height:30px; 
	line-height:30px;
}
.menu li .list-item a:hover{ 
	background:#999; 
	color:#fff; 
	text-decoration:none;
}

.ser-online a { 
	background:url(../images/bg_ser_online.jpg) no-repeat 0 0; 
	margin-top:10px; 
	height:75px; 
	border:1px solid #eaeaea; 
	display:block;
}

.hw_upload{
	min-height: 50px;
	width: 200px;
	position: relative;
	margin-left: 0px;
	margin-top: 30px;
}